<html>

<body style="box-sizing: border-box;margin: 0;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fff;min-width: 992px!important;">
    <div style="box-sizing: border-box;position: fixed;top: 0;left: 0;z-index: 1050;width: 100%;height: 100%;overflow: hidden;outline: 0;">
        <div style="box-sizing: border-box;position: relative;width: auto;margin: .5rem;pointer-events: none;">
            <div style="box-sizing: border-box;position: relative;display: flex;-ms-flex-direction: column;flex-direction: column;width: 100%;pointer-events: auto;background-color: #fff;background-clip: padding-box;border: 1px solid rgba(0,0,0,.2);border-radius: .3rem;outline: 0;">
                <div style="box-sizing: border-box;position: relative;-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1rem;">
                    <div style="box-sizing: border-box;text-align: right!important;"></div>
                    <div style="box-sizing: border-box;padding-right: 1.5rem!important;padding-left: 1.5rem!important;padding-top: 3rem!important;padding-bottom: 3rem!important;">
                        <h5 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.25rem;">Mezu Berria</h5>
                        <div style="box-sizing: border-box;margin-bottom: 1rem!important;">
                            <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
                        </div>
                        <div style="box-sizing: border-box;display: flex!important;-ms-flex-pack: justify!important;justify-content: space-between!important;">
                            <span style="box-sizing: border-box;font-weight: 700!important;">Izen-Abizenak: {{mezua.izena}}</span>
                        </div>
                        <div style="box-sizing: border-box;display: flex!important;-ms-flex-pack: justify!important;justify-content: space-between!important;">
                            <span style="box-sizing: border-box;font-weight: 700!important;">Emaila: {{mezua.email}}</span>
                        </div>
                        <div style="box-sizing: border-box;display: flex!important;-ms-flex-pack: justify!important;justify-content: space-between!important;">
                            <span style="box-sizing: border-box;font-weight: 700!important;">Mezua: {{mezua.mezua}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>