{% load static %}
<header class="u-clearfix u-header u-header u-sticky u-overlap" style="background-color: white;" id="sec-9da1">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="/index" class="u-image u-logo u-image-1">
            <img src="{%static 'images/logo.png'%}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                    <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                            </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                        <rect y="1" width="16" height="2"></rect>
                                        <rect y="7" width="16" height="2"></rect>
                                        <rect y="13" width="16" height="2"></rect>
                                    </symbol>
                                </defs>
                            </svg>
                </a>
            </div>
            <div class="u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/index" style="padding: 10px 20px;">Hasiera</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/produktuak" style="padding: 10px 20px;">Okindegia</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/about" style="padding: 10px 20px;">Guri Buruz</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/contact" style="padding: 10px 20px;">Kontaktua</a>
                    </li> {% if user.is_authenticated %} {% if user.is_superuser %}
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/mezuak" style="padding: 10px 20px;">Mezuak</a>
                    </li>
                    {%endif%}
                    <li class="u-nav-item">
                        <p style="padding: 10px 10px;"><b>Ongi etorri, <a href="/profila" class="profila">{{user.username}}</a></b>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/user_logout" id="logout-btn" style="cursor: pointer;" style="padding: 10px 20px;">Logout</a>
                    </li>
                    {% else %}
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" id="login-btn" style="cursor: pointer;" style="padding: 10px 20px;">Login</a>
                    </li>
                    {%endif%}
                    <li class="u-nav-item">
                        <a href="#0" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base saskia-erakutsi dropdown-toggle" id="saskia-botoia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                            <img src="{%static 'images/cesta.svg'%}" class="saskia" title="Saskia">
                        </a>

                        <div id="saskia" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarCollapse">
                            <table id="saskia-lista" class="table table-scroll">
                                <thead>
                                    <tr>
                                        <th>Irudia</th>
                                        <th>Produktua</th>
                                        <th>Prezioa</th>
                                        <th>Kopurua</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="saskia-lista-tbody"></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <a href="/erosi" id="erosketa-egin" class="btn btn-primary btn-block">Erosi</a>
                                            <a href="#0" id="saskia-hustu" class="btn btn-danger btn-block">Saskia Hustu</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/index">Hasiera</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/produktuak">Okindegia</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/about">Guri Buruz</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/contact">Kontaktua</a>
                            </li>
                            {% if user.is_authenticated %} {% if user.is_superuser %}
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/mezuak" style="padding: 10px 20px;">Mezuak</a>
                            </li>
                            {%endif%}
                            <li class="u-nav-item">
                                <p style="padding: 10px 10px;"><b>Ongi etorri, <a href="/profila" class="profila">{{user.username}}</a></b>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link " href="/user_logout" style="cursor: pointer;" style="padding: 10px 20px;">Logout</a>
                            </li>
                            {% else %}
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" id="login-btn2" style="cursor: pointer;" style="padding: 10px 20px;">Login</a>
                            </li>
                            {%endif%}
                            <li class="u-nav-item">
                                <a href="/erosi" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base saskia-erakutsi" id="saskia2" style="cursor: pointer;">
                                    <img src="{%static 'images/cesta2.svg'%}" class="saskia" title="Saskia">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70 "></div>
            </div>
        </nav>
        {%include "superior/login.html"%}
    </div>
</header>