{% load static %}
<!DOCTYPE html>
<html>

<body class="u-body">
    <a href="#" class="u-btn u-button-style u-btn-1" id="scroll_top" style="position: fixed; bottom: 20px; right: 30px; background-color: #d4b88e; display:none">
        &#129145;
    </a>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c2e8">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Otaola Hiribidea 29 <br>20600 Eibar Gipuzkoa <br>&#9993; info@balo.com <br>&#9742; 943 89 92 11<br><br> Ordutegia:
                <br> Astelehenetik Larunbatera: 7:30 - 20:00
                <br> Igandea eta Jaiegunak: 7:30 - 14:00
            </p>
            <p class="u-text">
                <span>&#169; Balo Okindegia, 2021</span>
            </p>
    </footer>
</body>

</html>