{% extends "base.html "%}{% load static %} {% block title %} Guri Buruz {%endblock%} {% block content%}

<head>
    <link rel="stylesheet " href="{%static 'css/Casa.css'%} " media="screen">
</head>
<section class="u-clearfix u-grey-5 u-section-5" id="carousel_7950">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-top u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-top-xs u-container-layout-1">
                            <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">Guri buruz</h2>
                            <p class="u-text u-text-2 u-align-justify">
                                Gure izenak Oier Loizate (ezkerrean), Pablo Lopez (erdian) eta Patxi Barrutia (eskuman) dira. Etengabe ari gara ogia egiten, goizez eta baita arratsaldez ere.
                                <br>
                                <br> Gure ogiek, osasuntsuak izatez gain, testura, zapore naiz bolumena izan dezaten nahi dugu. Ogia bertan egiten dugu hasieratik amaiera, eta ez ditugu ogi aurre-erre berotuak egiten.
                                <br>
                                <br> Lehengai osasuntsuen aukeraketa arduratsua dugu helburu. Gluzemia maila baxuzko ogiak ere eskaintzen ditugu.&nbsp;
                            </p>
                        </div>
                    </div>
                    <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-about">
                        <div class="u-container-layout" src=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}