{% load static %}
<html>

<head>
    <meta name=" viewport " content="width=device-width, initial-scale=1.0 ">
    <meta charset="utf-8 ">
    <meta name="page_type " content="np-template-header-footer-from-plugin ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet " href="{%static 'css/nicepage.css'%} " media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script class="u-script " type="text/javascript " src="{%static 'js/jquery.js'%} " defer=" "></script>
    <script class="u-script " type="text/javascript " src="{%static 'js/nicepage.js'%} " defer=" "></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link id="u-theme-google-font " rel="stylesheet " href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i ">
    <link rel="icon " href="{%static 'images/icono_balo.png'%} ">
    <meta name="theme-color " content="#478ac9">
    <meta property="og:type " content="website">
    <title>
        {% block title %} {%endblock%}
    </title>
</head>

<body class="u-body">
    {%include "superior/barra.html "%} {% block content%} {%endblock%} {%include "inferior/footer.html "%}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="{%static 'js/saskia.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>

</html>