{% extends "base.html "%}{% load static %} {% block title %} Kontaktua {%endblock%} {% block content%}
<section class="u-align-center u-grey-5 u-clearfix u-section-1" id="sec-a793">
    <div class=" u-clearfix u-sheet u-sheet-1 ">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1 ">
            <div class="u-gutter-0 u-layout ">
                <div class="u-layout-row ">
                    <div class="u-size-30 ">
                        <div class="u-layout-col ">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1 ">
                                <div class="u-container-layout u-container-layout-1 ">
                                    <h2 class="u-text u-text-1 ">Balo Okindegia</h2>
                                    <p class="u-text u-text-2 ">&#128204; Otaola Hiribidea, 29, 20600 Eibar, Gipuzkoa</p>
                                    <p class="u-text u-text-3 ">&#9993; &nbsp;<a href="mailto:info@balo.com ">info@balo.com</a></p>
                                    <p class="u-text u-text-4 ">&#9742; +34 943 89 92 11</p>
                                    <p class="u-text u-text-5 ">
                                        &#128337; &nbsp;Ordutegia: <br> Astelehenetik larunbatera: 7:30 - 20:00<br>Igandea eta Jaiegunak: 7:30 - 14:00</p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2 ">
                                <div class="u-container-layout u-valign-top u-container-layout-2 ">
                                    <div class="u-form u-form-1 ">
                                        <form action="# " method="POST " onsubmit="bidalita() " class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form " style="padding: 10px " source="custom " name="form-5 ">
                                            <div class="u-form-group u-form-name u-form-group-1 ">
                                                <label for="name-5359 " class="u-form-control-hidden u-label ">Izena</label>
                                                <input type="text " placeholder="Izena " id="name-5359 " name="name " class="u-border-1 u-white u-border-grey-30 u-input u-input-rectangle " required=" ">
                                            </div>
                                            <div class="u-form-email u-form-group u-form-group-2 ">
                                                <label for="email-5359 " class="u-form-control-hidden u-label ">Emaila</label>
                                                <input type="email " placeholder="Email " id="email-5359 " name="email " class="u-border-1 u-white u-border-grey-30 u-input u-input-rectangle " required=" ">
                                            </div>
                                            <div class="u-form-group u-form-message u-form-group-3 ">
                                                <label for="message-5359 " class="u-form-control-hidden u-label ">Mezua</label>
                                                <textarea placeholder="Mezua " rows="4 " cols="50 " id="message-5359 " name="message " class="u-border-1 u-white u-border-grey-30 u-input u-input-rectangle " required=" "></textarea>
                                            </div>
                                            <div class="u-form-group u-form-submit u-form-group-4 ">
                                                <a href="# " class="u-btn u-btn-submit u-button-style ">Bidali</a>
                                                <input type="submit " value="submit " class="u-form-control-hidden ">
                                            </div>
                                            <input type="hidden" value=" " name="recaptchaResponse ">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 ">
                        <div class="u-layout-col ">
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3 ">
                                <div class="u-container-layout u-container-layout-3 ">
                                    <div class="u-expanded u-grey-light-2 u-map ">
                                        <div class="embed-responsive ">
                                            <iframe class="embed-responsive-item " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d514.3237111838023!2d-2.4900946577917376!3d43.17897821482679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e2af1191939a3%3A0x3527ebcc550f9000!2sUni%20Eibar-Ermua!5e0!3m2!1ses!2ses!4v1633083192603!5m2!1ses!2ses "
                                                data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMk1hbmhhdHRhbiUyQyUyME5ldyUyMFlvcmslMjIlMkMlMjJ6b29tJTIyJTNBMTAlMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQSUyMiUyMiU3RA=="></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>{%endblock%}