{% extends "base.html "%}{% load static %} {% block title %} Zure Erosketa {%endblock%} {% block content%}
<link rel="stylesheet " href="{%static 'css/erosi.css'%} " media="screen">
< <div class="container">
    <div class="card shopping-cart">
        <div class="card-body" id="erosi-lista">
        </div>
        <div class="card-footer">
            <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
                <div class="row">
                    <button href="" class="jerosten">Continue shopping</button>
                </div>
            </div>
            <div class="pull-right" style="margin: 10px">
                <a href="" class="btn btn-success pull-right">Checkout</a>
                <div class="pull-right" style="margin: 5px">
                    Total price: <b>50.00€</b>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{%static 'js/erosi.js'%}"></script>

    {%endblock%}